---
/**
 * * Logo cloud section marquee
 *
 * Customer logos from src/assets/customers folder
 *
 * There is a commented out script at the bottom. If you would like the marquee to pause on mouseover, uncomment it.
 */

import atosLogo from "@assets/customers/atos-logo.svg";
import cockpitioLogo from "@assets/customers/cockpitio-logo.png";
import fdiLogo from "@assets/customers/fdi-logo.png";
import itsgroupLogo from "@assets/customers/itsgroup-logo.png";
import liberationLogo from "@assets/customers/liberation-logo.svg";
import metanextLogo from "@assets/customers/metanext-logo.svg";
import nseLogo from "@assets/customers/nse-logo.svg";
import numspotLogo from "@assets/customers/numspot.svg";
import pmuLogo from "@assets/customers/pmu-logo.png";
import pointbaseLogo from "@assets/customers/pointbase-logo.png";
import zenikaLogo from "@assets/customers/zenika-logo.svg";
---

<section id="logocloud2" class="border-base-300 dark:border-base-600/60 border-y py-6" data-mos="fade-up" data-mos-anchor="#logocloud2">
  <div class="relative mx-auto max-w-[1800px] overflow-hidden px-4">
    <!-- left fade-out -->
    <div
      class="from-base-100 dark:from-base-900 absolute top-0 -left-px z-10 h-full w-[20%] bg-gradient-to-r from-20% to-transparent"
    >
    </div>
    <!-- right fade-out -->
    <div
      class="to-base-100 dark:to-base-900 absolute top-0 -right-px z-10 h-full w-[20%] bg-gradient-to-r from-transparent to-80%"
    >
    </div>

    <div class="logo-marquee relative flex gap-32 overflow-hidden">
      <!-- Each animate-marquee2 section needs to have the exact same logos. Just do one then copy / paste -->
      <div class="animate-marquee2 flex min-w-full shrink-0 items-center justify-around gap-32">
        <img src={atosLogo.src} alt="Atos" class="logo" />

        <img src={cockpitioLogo.src} alt="Cockpit.io" class="logo" />

        <img src={fdiLogo.src} alt="FDI" class="logo" />

        <img src={itsgroupLogo.src} alt="ITS Group" class="logo logo-large" />

        <img src={liberationLogo.src} alt="Liberation" class="logo logo-medium" />

        <img src={metanextLogo.src} alt="Metanext" class="logo" />

        <img src={nseLogo.src} alt="NSE" class="logo" />

        <img src={numspotLogo.src} alt="Numspot" class="logo" />

        <img src={pmuLogo.src} alt="PMU" class="logo logo-medium" />

        <img src={pointbaseLogo.src} alt="Pointbase" class="logo logo-large" />

        <img src={zenikaLogo.src} alt="Zenika" class="logo logo-medium" />
      </div>

      <!-- Each animate-marquee2 section needs to have the exact same logos. Just do one then copy / paste -->
      <div
        aria-hidden="true"
        class="animate-marquee2 flex min-w-full shrink-0 items-center justify-around gap-32"
      >
        <img src={atosLogo.src} alt="Atos" class="logo" />

        <img src={cockpitioLogo.src} alt="Cockpit.io" class="logo" />

        <img src={fdiLogo.src} alt="FDI" class="logo" />

        <img src={itsgroupLogo.src} alt="ITS Group" class="logo logo-large" />

        <img src={liberationLogo.src} alt="Liberation" class="logo logo-medium" />

        <img src={metanextLogo.src} alt="Metanext" class="logo" />

        <img src={nseLogo.src} alt="NSE" class="logo" />

        <img src={numspotLogo.src} alt="Numspot" class="logo" />

        <img src={pmuLogo.src} alt="PMU" class="logo logo-medium" />

        <img src={pointbaseLogo.src} alt="Pointbase" class="logo logo-large" />

        <img src={zenikaLogo.src} alt="Zenika" class="logo logo-medium" />
      </div>
    </div>
  </div>
</section>

<style>
  @import "tailwindcss/theme" theme(reference);
  @import "@/styles/tailwind-theme.css" theme(reference);

  .logo {
    @apply h-10 w-auto;
  }

  .logo-large {
    @apply h-16;
  }

  .logo-medium {
    @apply h-12;
  }
</style>