---
import logo from "@images/site-logo.svg";
import logoDark from "@images/site-logo-dark.svg";
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";
import { Image } from "astro:assets";

import { getLocalizedRoute } from "@/docs/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
---

<a
  class="primary-focus flex items-center align-middle"
  href={getLocalizedRoute(currLocale)}
  aria-label={`${siteData.name} - Go to homepage`}
>
  {/* Dark theme: site-logo.svg */}
  <Image
    src={logo}
    alt="Plumber logo"
    loading="eager"
    class="my-2 h-9 w-auto dark:block hidden"
    aria-hidden="true"
    fetchpriority="high"
  />
  {/* Light theme: site-logo-dark.svg */}
  <Image
    src={logoDark}
    alt="Plumber logo"
    loading="eager"
    class="my-2 h-9 w-auto block dark:hidden"
    aria-hidden="true"
    fetchpriority="high"
  />
  <!-- <div class="text-2xl">{siteData.name}</div> -->
</a>
