---
import Button from "@components/Button/Button.astro";
import Category from "@components/Category/Category.astro";
import TableOfContents from "@components/TableOfContents/TableOfContents.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import { formatDate, humanize, slugify } from "@js/textUtils";
import { Image } from "astro:assets";
import { type CollectionEntry, getEntries } from "astro:content";

// main layout
import BaseLayout from "./BaseLayout.astro";

interface Props {
  post: CollectionEntry<"blog">;
  headings: import("astro").MarkdownHeading[];
}

const { post, headings } = Astro.props as Props;
const { title, description, authors, pubDate, categories, updatedDate, heroImage } = post.data;

const currLocale = getLocaleFromUrl(Astro.url);
const authorsData = await getEntries(authors);
---

<BaseLayout
  type="blog"
  title={title}
  description={description}
  heroImage={heroImage}
  authorsData={authorsData}
  postFrontmatter={post.data}
>
  <article class="site-container mt-16 md:mt-28">
    <div class="mx-auto mt-10 grid w-full max-w-2xl gap-10 lg:max-w-none lg:grid-cols-3">
      <!-- table of contents -->
      <aside class="lg:order-2" data-pagefind-ignore>
        <div class="lg:sticky lg:top-20 lg:h-[calc(100vh-5rem)]">
          <TableOfContents headings={headings} />
        </div>
      </aside>

      <!-- main content -->
      <div class="lg:col-span-2">
        <div class="text-base-content text-base">
          {
            updatedDate && (
              <div class="mb-6 italic">
                <time datetime={updatedDate.toISOString()}>
                  Updated: {formatDate(updatedDate, currLocale)}
                </time>
              </div>
            )
          }
          <section id="blog-post-content" class="markdown-content mx-auto max-w-2xl lg:max-w-none">
            <slot />
          </section>

          <!-- button to go back to all posts -->
          <div class="mt-16 flex">
            <Button variant="outline" href={"/blog/"} arrow="left" class="py-2">
              Back to all posts
            </Button>
          </div>
        </div>
      </div>
    </div>
  </article>
</BaseLayout>
